.header {
    background-color: #ffcd00;
    height: 59px;
    box-shadow: 1px 4px 8px -2px rgba(0,0,0,.45);
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.wrap-content {
    padding-top: 10px;
}