.slide {
    width: 18%;
    float: left;

    img {
        width: 30px !important;
        border: 1px solid $slide-img-border-color;
    }

    .active-img {
        border: 1px solid $slide-img-border-active-color;
    }
}
