<div class="col-xs-12 col-md-6">
    <div class="card">
        <div class="row">
            <div class="col-xs-6">
                <ul class="slide">
                    <li>
                        <img class="" src="{{imgSrc}}" alt="">
                    </li>
                    <li>
                        <img class="" src="{{images1}}" alt="">
                    </li>
                    <li>
                        <img class="" src="{{images2}}" alt="">
                    </li>
                    <li>
                        <img class="" src="{{images3}}" alt="">
                    </li>
                </ul>
                <img class="img-product" src="{{imgSrc}}" alt="">
            </div>
            <div class="col-xs-6">
                <div class="text-description">
                    <p>{{name}}</p>
                </div>
                <div class="col-md-s12">
                    <div class="wrap-tag">
                        <div class="tag">MELHOR PREÇO</div>
                    </div>
                </div>
                <div class="col-md-12 padding-left-reset">
                    <div class="wrap-price">
                        <div class="wrap-installment">
                            {{installmentes}}x R$
                            <span>{{installmentValue}}</span>
                        </div>
                        <div class="wrap-cash-payment">
                            ou <span>R$ {{value}}</span>  á vista
                        </div>
                    </div>
                </div>
                <div class="col-md-12 wrap-button">
                    <button class="btn btn-primary" (click)="addCart(this)" data-id="{{id}}">Adicionar ao carrinho <i class="right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>