.nav {
    padding-top: 5px;

    .menu {
        position: relative;
        border-top: 5px solid $menu-border-icon-color;
        border-bottom: 5px solid $menu-border-icon-color;
        width: 30px;
        height: 25px;

        .line {
            width: 30px;
            height: 5px;
            background: $menu-border-icon-color;
            margin-top: 5px;
        }
    }
    .notification-quantity-products {
        background: $menu-notification-bg-color;
        color: $menu-notification-font-color;
        width: 30px;
        height: 30px;
        display: block;
        border-radius: 16px;
        padding: 6px 10px;
        position: relative;
        z-index: 999;
        top: -10px;
        left: -13px;
    }
}
.menu-drop-down {
    right: 121px;
    top: 58px;
    width: 382px;
    height: auto;
    max-height: 500px;
    overflow: scroll;
    position: fixed;
    z-index: 999;
    display: none;
    background-color: $menu-product-bg-color;
    -webkit-box-shadow: 2px 3px 18px 0px $menu-drop-down-shadow-color;
    -moz-box-shadow: 2px 3px 18px 0px $menu-drop-down-shadow-color;
    box-shadow: 2px 3px 18px 0px $menu-drop-down-shadow-color;

    .lit-item {
        height: 90px;
        width: 100%;
        background-color: $menu-product-bg-color;
        padding: 10px;
        font-size: 14px;
        border-bottom: 1px solid $menu-drop-down-border-color;

        .img-cart-product {
            margin-left: 2px;
            margin-top: 5px;
            width: 57px;
        }

        .description {
            width: 100%;
            color: $menu-drop-down-description-font-color;
            margin-bottom: 10px;
        }

        .wrap-close {
            text-align: center;
        }
    }

    .payment-summary {
        background-color: $menu-drop-down-payment-summary !important;

        div:first-child {
            border-bottom: 1px solid #927500;
            margin-bottom: 5px;
        }

        div {
            padding-bottom: 5px;
            width: 100%;
            text-align: right;
            font-size: 14px;
        }
    }
}
.open-menu{
    display: block;
}
@media (max-width: 700px) {
    .menu-drop-down {
        width: 100%;
        right: 0;
    }
}
