//Colors

$white:         #FFFFFF;
$black:         #000000;
$wild-san:      #ECECEC;
$bourde:        #F0F0F0;
$eclipse-alpha: rgba($black,.45);
$eclipse:       rgba($black,0.75);
$redubrum:      #D62A33;

$color1:        #FFCD00;
$color2:        #C49D00;
$color3:        #14A93E;
$color4:        #0083DE;
$color5:        #D5EEDB;
$color6:        #CBE5F9;
$color7:        #927500;
$color8:        #22B14C;
$color9:        #DAAF00;
$color10:       #D3A900;
