<li class="lit-item">
    <div class="row">
        <div class="col-xs-2">
            <img class="img-cart-product" src="http://thumbs.buscape.com.br/celular-e-smartphone/smartphone-apple-iphone-7-128gb_600x600-PU98460_1.jpg" alt="">
        </div>
        <div class="col-xs-8">
            <div class="description">
                {{name}}
            </div>
            <div class="price">
                <div>10x R$ 366,56</div>
                <div>ou R$ 3.199,00 á vista</div>
            </div>
        </div>
        <a href="#" class="col-xs-2 wrap-close">
            <span>X</span>
        </a>
    </div>
</li>
