<header class="header">
    <div class="container">
        <div class="wrap-content">
            <div class="row">
                <div class="col-xs-10">
                    <img class="logo" src="assets/img/logo-buscape.svg" alt="">
                </div>
                <div class="col-xs-2 nav">
                    <a href="#">
                        <div class="menu">
                            <div class="line"></div>
                        </div>
                        <span class="notification-quantity-products">2</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>