<section class="section-content">
    <div class="container">
        <div class="row">
            <card *ngFor="let c of cards"
                  id="{{c.product.id}}"
                  name="{{c.product.name}}"
                  value="{{c.product.price.value}}"
                  installmentValue="{{c.product.price.installmentValue}}"
                  imgSrc="{{c.product.images[0]}}"
                  images1="{{c.product.images[1]}}"
                  images2="{{c.product.images[2]}}"
                  images3="{{c.product.images[3]}}"
            ></card>
        </div>
    </div>
</section>
<div class="menu-drop-down">
    <ul>
        <cart *ngFor="let prod of products"></cart>
        <!--<li class="lit-item payment-summary">-->
        <!--<div class="">subtotal</div>-->
        <!--<div class="">10x R$ 433,32</div>-->
        <!--<div class="">ou R$ 4.302,32 á vista</div>-->
        <!--</li>-->
    </ul>
</div>
