$menu-border-icon-color: $black;
$menu-border-color: $black;
$menu-notification-bg-color: $redubrum;
$menu-notification-font-color: $white;
$menu-product-bg-color: $color2;
$menu-drop-down-shadow-color: $eclipse;
$menu-drop-down-payment-summary: $color2;
