.wrap-installment {
    color: $wrap-instalment-font-color;
}
.wrap-installment span {
    font-weight: bold;
}
.wrap-cash-payment {
    font-size: 12px;
}
.wrap-cash-payment span {
    color: $wrap-instalment-font-color;
}